In [1]:
import pandas as pd
import numpy as np

In [28]:
janeiro = pd.date_range('1/01/2022', periods=31)

In [29]:
janeiro

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-29', '2022-01-30', '2022-01-31'],
              dtype='datetime64[ns]', freq='D')

In [30]:
dados = pd.DataFrame(np.random.randn(31,2),
                     index=janeiro,
                     columns=['Brasilia', 'Salvador']
                    )

In [31]:
dados

            Brasilia  Salvador
2022-01-01  2.319138  1.369916
2022-01-02  0.172272  1.078622
2022-01-03  2.574964 -0.730057
2022-01-04 -0.561670  0.702672
2022-01-05 -1.548508 -0.507468
2022-01-06  1.134239 -1.559135
2022-01-07  1.440865 -0.802831
2022-01-08 -0.882445 -1.688650
2022-01-09  0.768751 -1.096881
2022-01-10  0.124474  0.085330
2022-01-11 -0.383330  0.062093
2022-01-12 -1.758234 -1.423901
2022-01-13 -0.786880 -0.603293
2022-01-14  0.046948  1.278743
2022-01-15  2.065125  0.114090
2022-01-16  0.248509  0.098475
2022-01-17 -3.026004 -0.342170
2022-01-18  0.881133 -0.032735
2022-01-19  0.109595 -0.006661
2022-01-20 -0.220498  0.272578
2022-01-21 -1.062392  0.255474
2022-01-22  0.162222  0.843021
2022-01-23 -2.218454 -1.669602
2022-01-24  0.388970 -1.023705
2022-01-25 -0.650107 -2.396790
2022-01-26 -0.190762  0.940890
2022-01-27  2.162245 -0.693921
2022-01-28  0.807798 -0.335864
2022-01-29  0.770469  0.182437
2022-01-30 -2.406645  0.241577
2022-01-31  0.581800  1.499142

In [32]:
dados.loc['2022-01-24']

Brasilia    0.388970
Salvador   -1.023705
Name: 2022-01-24 00:00:00, dtype: float64

In [38]:
pd.date_range('2021/01/01', '2021/12/01', freq='BM')

DatetimeIndex(['2021-01-29', '2021-02-26', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-30', '2021-08-31',
               '2021-09-30', '2021-10-29', '2021-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [40]:
pd.date_range('1/01/2010', '1/01/2020', freq='y')

DatetimeIndex(['2010-12-31', '2011-12-31', '2012-12-31', '2013-12-31',
               '2014-12-31', '2015-12-31', '2016-12-31', '2017-12-31',
               '2018-12-31', '2019-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [2]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='60min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:00:00',
               '2000-01-01 02:00:00', '2000-01-01 03:00:00',
               '2000-01-01 04:00:00', '2000-01-01 05:00:00',
               '2000-01-01 06:00:00', '2000-01-01 07:00:00',
               '2000-01-01 08:00:00', '2000-01-01 09:00:00',
               '2000-01-01 10:00:00', '2000-01-01 11:00:00',
               '2000-01-01 12:00:00', '2000-01-01 13:00:00',
               '2000-01-01 14:00:00', '2000-01-01 15:00:00',
               '2000-01-01 16:00:00', '2000-01-01 17:00:00',
               '2000-01-01 18:00:00', '2000-01-01 19:00:00',
               '2000-01-01 20:00:00', '2000-01-01 21:00:00',
               '2000-01-01 22:00:00', '2000-01-01 23:00:00',
               '2000-01-02 00:00:00', '2000-01-02 01:00:00',
               '2000-01-02 02:00:00', '2000-01-02 03:00:00',
               '2000-01-02 04:00:00', '2000-01-02 05:00:00',
               '2000-01-02 06:00:00', '2000-01-02 07:00:00',
               '2000-01-02 08:00:00', '2000-01-02 09:00:00',
               '2000-01-02 10:00:00', '2000-01-02 11:00:00',
               '2000-01-02 12:00:00', '2000-01-02 13:00:00',
               '2000-01-02 14:00:00', '2000-01-02 15:00:00',
               '2000-01-02 16:00:00', '2000-01-02 17:00:00',
               '2000-01-02 18:00:00', '2000-01-02 19:00:00',
               '2000-01-02 20:00:00', '2000-01-02 21:00:00',
               '2000-01-02 22:00:00', '2000-01-02 23:00:00',
               '2000-01-03 00:00:00', '2000-01-03 01:00:00',
               '2000-01-03 02:00:00', '2000-01-03 03:00:00',
               '2000-01-03 04:00:00', '2000-01-03 05:00:00',
               '2000-01-03 06:00:00', '2000-01-03 07:00:00',
               '2000-01-03 08:00:00', '2000-01-03 09:00:00',
               '2000-01-03 10:00:00', '2000-01-03 11:00:00',
               '2000-01-03 12:00:00', '2000-01-03 13:00:00',
               '2000-01-03 14:00:00', '2000-01-03 15:00:00',
               '2000-01-03 16:00:00', '2000-01-03 17:00:00',
               '2000-01-03 18:00:00', '2000-01-03 19:00:00',
               '2000-01-03 20:00:00', '2000-01-03 21:00:00',
               '2000-01-03 22:00:00', '2000-01-03 23:00:00'],
              dtype='datetime64[ns]', freq='60T')

In [3]:
pd.date_range(start='1/01/2022', end='13/03/2022')

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-29', '2022-01-30', '2022-01-31', '2022-02-01',
               '2022-02-02', '2022-02-03', '2022-02-04', '2022-02-05',
               '2022-02-06', '2022-02-07', '2022-02-08', '2022-02-09',
               '2022-02-10', '2022-02-11', '2022-02-12', '2022-02-13',
               '2022-02-14', '2022-02-15', '2022-02-16', '2022-02-17',
               '2022-02-18', '2022-02-19', '2022-02-20', '2022-02-21',
               '2022-02-22', '2022-02-23', '2022-02-24', '2022-02-25',
               '2022-02-26', '2022-02-27', '2022-02-28', '2022-03-01',
               '2022-03-02', '2022-03-03', '2022-03-04', '2022-03-05',
               '2022-03-06', '2022-03-07', '2022-03-08', '2022-03-09',
               '2022-03-10', '2022-03-11', '2022-03-12', '2022-03-13'],
              dtype='datetime64[ns]', freq='D')

In [4]:
pd.date_range('13/03/2022', periods=7)

DatetimeIndex(['2022-03-13', '2022-03-14', '2022-03-15', '2022-03-16',
               '2022-03-17', '2022-03-18', '2022-03-19'],
              dtype='datetime64[ns]', freq='D')

In [6]:
pd.date_range(start='01/01/2022', freq='M', periods=12)

DatetimeIndex(['2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31',
               '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31'],
              dtype='datetime64[ns]', freq='M')

In [7]:
pd.date_range(end='01/01/2022', freq='M', periods=12)

DatetimeIndex(['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31'],
              dtype='datetime64[ns]', freq='M')

### pd.period_range

In [13]:
pd.period_range(start='01-01-2020', end='01-01-2021', freq='M')

PeriodIndex(['2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
             '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12',
             '2021-01'],
            dtype='period[M]', freq='M')

### pd.to_timedelta

In [15]:
pd.to_timedelta(np.arange(17), unit='d')

TimedeltaIndex([ '0 days',  '1 days',  '2 days',  '3 days',  '4 days',
                 '5 days',  '6 days',  '7 days',  '8 days',  '9 days',
                '10 days', '11 days', '12 days', '13 days', '14 days',
                '15 days', '16 days'],
               dtype='timedelta64[ns]', freq=None)

In [14]:
pd.to_timedelta(np.arange(7), unit='s')

TimedeltaIndex(['0 days 00:00:00', '0 days 00:00:01', '0 days 00:00:02',
                '0 days 00:00:03', '0 days 00:00:04', '0 days 00:00:05',
                '0 days 00:00:06'],
               dtype='timedelta64[ns]', freq=None)

In [16]:
pd.to_timedelta(np.arange(12), unit='m')

TimedeltaIndex(['0 days 00:00:00', '0 days 00:01:00', '0 days 00:02:00',
                '0 days 00:03:00', '0 days 00:04:00', '0 days 00:05:00',
                '0 days 00:06:00', '0 days 00:07:00', '0 days 00:08:00',
                '0 days 00:09:00', '0 days 00:10:00', '0 days 00:11:00'],
               dtype='timedelta64[ns]', freq=None)

In [22]:
pd.to_timedelta(np.arange(12), unit='H')

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00', '0 days 10:00:00', '0 days 11:00:00'],
               dtype='timedelta64[ns]', freq=None)

https://pandas.pydata.org/docs/reference/api/pandas.date_range.html
https://pandas.pydata.org/docs/reference/api/pandas.period_range.html#pandas.period_range
https://pandas.pydata.org/docs/reference/api/pandas.to_timedelta.html